
<body>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">S/NO</th>
            <th scope="col">NAME</th>
            <th scope="col">USER SCORE</th>
            <th scope="col">COMPUTER SCORE</th>
            <th scope="col">RESULT</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of boot">
            
            <th scope="'row"> {{u.id}}</th>
            <td> {{u.name}}</td>
            <td> {{u.userScore}}</td>
            <td> {{u.compScore}}</td>
            <!-- <td> {{u.status}}</td> -->
            
           
          
        </tbody>
      </table>

      <div class="navs">
        <a class="nav-link active" aria-current="page" routerLink="/game" style="color: aliceblue;">&nbsp;PLAY GAME</a>
      </div>
</body>